.App {
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
  footer {
    margin: 20px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  img {
    max-height: 180px;
  }
}

.hide {
  display: none;
}
